site_name: "Rov's Blogs!"
site_url: https://rovblog.cooked.beer

theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep purple
      accent: pink
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: deep purple
      accent: pink
  features:
    - navigation.sections
    - navigation.expand
    - navigation.footer
    - toc.integrate
    - search.suggest
    - search.highlight
    - content.code.copy
    - navigation.instant
    - header.autohide
    - navigation.top
    - toggle-mode  # Enables dark/light mode toggle
    - toggle-hidden
  font:
    text: "Poppins"  # Modern readable font
    code: "JetBrains Mono"

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/rovxbot
  generator: false
